<%= simple_form_for @classroom do |f| %>
  <div class="form-group">
    <label>Estudante</label>
    <%= f.input :student_id,:collection => Student.order(:name), label: false, input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <label>Curso</label>
    <%= f.input :course_id,:collection => Course.order(:name), label: false, input_html: {class: "form-control"} %>
  </div>
	<%= f.submit "Salvar", class: "btn btn-primary btn-block" %>
<% end %>